body {
	margin: 0px;
}
.background-image {
	background-image: url('../images/background.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.color-background {
	width: 100%;
	height: 100vh;
	background: rgba(255,255,255, 0.7);
}

.title-header {
	display: inline-block;
	color: red;
=======
.personal-info-container {
	background: #000;
	height: 800px;
}

}