body {
	margin: 0px;
}
.background-image {
	background-image: url('../images/background.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.color-background {
	width: 100%;
	height: 100vh;
	background: rgba(47, 47, 47, 0.8)
}

.title-header {
	display: inline-block;
	color: white;
	font-size: 60px;
	margin-top: 70%
}

.title-description {
	margin-top: -30px;
	color: white;
	font-style: italic;
}

.textbox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.textbox i {
    color: white;
    font-size: 3.0em;
    margin-top: 130px;
}

.personal-info-container {
	/*background: #000;*/
}

.personal-info-content {
	position: fixed;
	top: 0;
}

.personal-info-photo {
	width: 300px;
	height: 300px;
	background: url( '../images/portrait.jpg' );
	background-size: contain;
}

.personal-info-name {
	text-transform: uppercase;
}

.personal-info-job {
	text-transform: uppercase;
}

.personal-info-social-icon {
	width: 30px;
	height: 30px;
	margin-right: 8px;
	border: 2px solid #000;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
	cursor: pointer;
}

.personal-info-social-icon:hover,
.personal-info-social-icon:active {
	border-color: #aaa;
	color: #aaa;
}

/*skills*/
.skilss-container {
	background: red;
}