<<<<<<< HEAD
.background-image {
	background-image: url('../images/background.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.title-header {
	color: red;
=======
.personal-info-container {
	background: #000;
}

.skilss-container {
	background: red;
>>>>>>> e2329fbb98bcf5afac4f701a13284c561b685b51
}